* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(232, 232, 241);
}
.navbar {
    display: flex;
    border: 2px solid black;
    background-color: #f1f0a0;
    height: 7rem;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;


}

.logo img {
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
    margin-left: 1.2rem;
    border: 2px solid black;

}

.menu {
    /* border: 2px solid black; */
    width: 60rem;
    margin: auto;
    height: 4rem;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu a {
    text-decoration: none;
    position: relative;
    top: 1.5rem;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.menu a:hover {
    color: rgb(97, 93, 97);
}

.menu ul li {
    margin: 0rem 1rem;
}

.social {
    display: flex;
    /* border: 2px solid black; */
    width: 15rem;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.social img {
    height: 3rem;
    width: 3rem;
    margin: 0.4rem;
  

}

.social img:hover {
    border: 1px solid rgb(230, 184, 184);
}

.home::before {
    content: "";
    background: url(https://thumbs.dreamstime.com/z/abstract-gym-background-strong-arm-chest-bodybuilder-91838676.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 32rem;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    border: 2px solid black;
}
header{
    position: sticky;
    top: 0px;
    z-index: 30;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25rem;
    flex-direction: column;
}

.home h2 {
    position: relative;
    top: -3rem;
    font-size: 2rem;
    z-index: 12;
}

.home p {
    font-size: 25px;
    margin: 7px;
    text-align: center;
    z-index: 12;
}

.home input {
    position: relative;
    top: 3rem;
    width: 10rem;
    height: 3rem;
    border: 1px solid #151313;
    border-radius: 2rem;
    background-color: #ce3d3d;
    font-size: 1.2rem;
    z-index: 12;
}

.home input:hover {
    background-color: rgb(223, 124, 124);
    cursor: pointer;
    color: rgb(22, 23, 23);
}

/* progarms section */
.programs::before {
    content: "";
    background: url(https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3ltJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 35rem;
    top: 596px;
    z-index: -2;
    opacity: 0.4;
}

.programs {
    margin-top: 5rem;
    border: 1px solid #151313;
    height: 35rem;
}

.programs h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.content P {
    text-align: center;
    position: relative;
    top: -2rem;
    font-size: 22px;
}

.content img {
    height: 10rem;
    width: 20rem;
    margin: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    opacity: 1;

}

#first {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25rem;
    margin: 0rem 2rem;
    border-radius: 2rem;
    background-color: #b6e2ca;
}

#first img {
    position: relative;
    bottom: 1rem;
}

#first h3 {
    z-index: 2;
    position: relative;
    top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}

#second {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    margin: 0rem 2rem;
    border-radius: 2rem;
    background-color: #b6e2ca;
}

#second img {
    position: relative;
    bottom: 2rem;
}

#second h3 {
    z-index: 2;
    position: relative;
    top: 0rem;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}

#third {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    margin: 0rem 2rem;
    border-radius: 2rem;
    background-color: #b6e2ca;
}

#third img {
    position: relative;
    bottom: 1rem;
}

#third h3 {
    z-index: 2;
    position: relative;
    top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}

/* partners section */
.partner::before {
    content: "";
    background: url(https://media.istockphoto.com/photos/business-network-concept-customer-support-shaking-hands-picture-id1256603011?k=20&m=1256603011&s=612x612&w=0&h=ZoZ6LyKdwAqubUtMloUivfG1EYiIDUTJytFX-KK1Xdc=) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 25rem;
    top: 1240px;
    z-index: -2;
    opacity: 0.4;
}

.partner {
    border: 2px solid black;
    margin-top: 5rem;
    height: 25rem;
}

.part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part img {
    width: 120px;
    height: 120px;
    margin: 5rem 4rem;
    /* filter: invert(100%); */
    background-color: white;
    border: 1px solid red;
    border-radius: 1rem;
}

.partner h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

/* contact section */
.contact::before {
    content: "";
    background: url(https://img.freepik.com/premium-photo/contact-us-customer-support-hotline-people-connect-call-customer-support-email-address-live-chat-internet-wifi_36325-3415.jpg?w=2000) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 30rem;
    top: 1724px;
    z-index: -2;
    opacity: 0.4;
}

.contact {
    border: 2px solid black;
    margin-top: 5rem;
    height: 30rem;
}

#cont {
    display: flex;
    flex-direction: column;
}

.contact h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#cont input {
    width: 30%;
    margin: auto;
    height: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.gender {
    display: flex;
}

.submit {
    position: relative; 
    top: 1rem;
    width: 10rem;
    height: 3rem;
    border: 1px solid #151313;
    border-radius: 2rem;
    background-color: #ce3d3d;
    font-size: 1.2rem;
    /* left: 42rem; */
    margin: auto;
    display: block;
    margin-top: 1rem;
}

.submit:hover {
    background-color: rgb(223, 124, 124);
    cursor: pointer;
    color: rgb(22, 23, 23);
}

/* footer section */
.footer {

    margin-top: 5rem;
    height: 2rem;
    text-align: center;
    font-size: large;
    background-color: #f1f0a0;
}